.root-pane {
    -fx-background-color: white;
}

.dark .root-pane {
    -fx-background-color: #2b2b2b;
}

/* LABELS */
.label {
    -fx-text-fill: black;
}

.dark .label {
    -fx-text-fill: white;
}

/* BUTTONS */
.button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: black;
}

.dark .button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
}

/* TEXTFIELDS & PASSWORD */
.text-field,
.password-field {
    -fx-control-inner-background: white;
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
}

.dark .text-field,
.dark .password-field {
    -fx-control-inner-background: #3c3f41;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
}

/* PROGRESS BAR */
.progress-bar {
    -fx-accent: #4CAF50;
}

.dark .progress-bar {
    -fx-accent: #00C853;
    -fx-control-inner-background: #3c3f41;
}

/* TAB PANE */
.tab-pane {
    -fx-background-color: transparent;
}

.dark .tab-pane {
    -fx-background-color: #1f1f1f
}

.tab-header-area {
    -fx-background-color: #e0e0e0;
}

.dark .tab-header-area {
    -fx-background-color: #1f1f1f;
}

.dark .tab-header-background {
    -fx-background-color: #1f1f1f;
}

/* TABS */
.tab {
    -fx-background-color: #e0e0e0;
}

.dark .tab {
    -fx-background-color: #3c3f41;
}

.tab-label {
    -fx-text-fill: black;
}

.dark .tab-label {
    -fx-text-fill: white;
}